.Schedule {
    display: flex;
    flex-direction: column;
    width: 72vw;    

    @include max-md {
        width: 100%;
        padding: 0;
    }

    &-radio {
        margin-bottom: 24px;
    }

    &-title {
        font-size: 24px;
        text-align: center;
        color: $gray-5;
        font-weight: bold;
        margin: 0 0 40px 0;
    }

    &-text {
        font-size: 16px;
        color: $gray-4;
    }

    &-buttons {
        margin-top: 40px;
        display: flex;
        gap: 40px;
    }

}