.Login {
    background-color: $background-color;
    
    &-wrapper {
        min-height: 100vh;
        padding: 60px 64px 0;
        display: grid;
        grid-gap: 32px;
        grid-template-columns: 50% 50%; 
        

        @include max-sm {
            grid-template-columns: auto;
            padding: 40px 16px 0;
        }
    }

    &-title {
        font-weight: 700;
        font-size: 32px;       
        color: $gray-4;
        margin: 0;

        
        @include max-md {
            font-size: 24px;  
        }
    }

    &-logo {
        height: 64px;
        width: auto;
    }

    &-main {
        display: flex;
        grid-gap: 24px;
        flex-direction: column;
        align-items: baseline;
        justify-content: normal;
        max-width: 540px;

        
        @include max-sm {
            max-width: 100%;
            grid-gap: 24px;
        }
    }

    &-img {
        
        @include max-sm {
            display: none;
        }

        width: 100%;
        max-width: 460px;
        margin: 80px auto 0;

        img {
            width: 100%;
        }
    }

    &-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-gap: 24px;
    }

    &-link {
        text-decoration-line: underline;
        font-size: 14px;
        line-height: 22px;
        color: $primary-color;
        float: right;
        cursor: pointer;
    }

    &-footer {
        width: 100%;
        grid-gap: 32px;
        display: flex;
        flex-direction: column;
    }

    &-text-line {
        display: grid;
        grid-template-columns: auto 104px auto;
        color: $gray-3;
        grid-gap: 16px;
        align-items: center;
        text-align: center;
        font-size: 12px;

        @include max-sm {
            grid-gap: 4px;
            font-size: 14px;
        }

        hr {
            width: 100%;
        }
    }

    &-buttons {
        display: flex;
        grid-gap: 24px;

        @include max-sm {
            flex-direction: column;
            grid-gap: 12px;
        }
    }

}