.Button {
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    background-color: $white;
    border: 1px solid $primary-color;
    height: 40px;
    width: 100%;
    cursor: pointer;

    &.primary {
        background-color: $primary-color;
        color: $white;
        filter: drop-shadow(0px 0px 4px rgba(10, 129, 113, 0.4));
    }

    &.secondary {
        background-color: $white;
        border: 1px solid $primary-color;
        color: $primary-color;
        filter: drop-shadow(0px 0px 4px rgba(10, 129, 113, 0.4));
    }

    &:hover {

    }

}