.Input {
    display: flex;
    flex-direction: column;
    grid-gap: 6px;

    &-label {
        font-weight: bold;
        color: $gray-4;
    }

    input,
    input[type="date"] {
        font-family: "Manrope";
        padding: 12px 0;
        width: 100%;
        text-indent: 16px;
        font-size: 14px;
        background: $white;
        border: 1px solid $gray-2;
        border-radius: 4px;
        color: $gray-4;

        &::placeholder {
            color: $gray-3;
            font-size: 14px;
        }
    }

    input[type="date"] {
        text-indent: 8px;

        &::-webkit-calendar-picker-indicator {
            padding-right: 16px;
        }

    }
}