.Register-monitor {
    background-color: $background-color;
    
    .Register {
        &-wrapper {
            padding: 60px 64px 0;
            position: relative;
            min-height: 94vh;

            @include max-sm {
                padding: 40px 16px 0;
            }
        }

        &-title {   
            display: flex;
            align-items: center;
            grid-gap: 12px;

            @include max-md {
                grid-gap: 2px;  
            }

            &__icon {
                color: $primary-color;
                font-size: 40px;
                cursor: pointer;
            }

            &__text {
                font-weight: 700;
                font-size: 24px;       
                color: $gray-4;
                margin: 0;

                @include max-md {
                    font-size: 18px;   
                }

            }
        }

        &-logo {
            height: 64px;
            width: auto;
        }
        &-stepper {
            width: 100%;
        }

        &-main {
            display: flex;
            grid-gap: 24px;
            flex-direction: column;
            align-items: baseline;
            justify-content: normal;
            max-width: 720px;

            
            @include max-lg {
                max-width: 100%;
                grid-gap: 16px;
            }
        }

        &-img {
            position: absolute;
            bottom: 0;
            right: 0;
            
            @include max-lg {
                display: none;
            }

            img {
                width: 100%;
            }
        }

        &-form {
            grid-template-columns: 1fr 1fr;
            width: 100%;
            display: grid;
            grid-column-gap: 72px;
            grid-row-gap: 24px;

            @include max-lg {
                grid-template-columns: auto;
                grid-row-gap: 8px;
            }
        }

        &-buttons {
            margin-top: 40px;
            width: 100%;    
            display: flex;
            gap: 64px;

            @include max-md {
                gap: 16px;
                flex-direction: column;
            }
        }

    }

}