.Header {
    display: flex;
    grid-gap: 16px;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 40px;
    background: $white;

    &-info {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $gray-4;
        cursor: pointer;

        @include max-md {
            display: none;
        }

        .bold {
            font-weight: bold;
        }

    }

    &-img {
        height: 40px;
        width: auto;
        border-radius: 100%;
        cursor: pointer;

        @include max-md {
            height: 40px;
        }
    }

    &-logo {
        position: absolute;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        display: none;
        width: 40px;

        @include max-md {
            display: block;
        }

        img {
            height: 100%;
        }
    }
}