.Header {
    display: flex;
    grid-gap: 16px;
    align-items: center;
    justify-content: flex-end;
    padding: 12px 40px;
    background: $white;

    &-info {
        display: flex;
        flex-direction: column;
        grid-gap: 8px;

        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: $gray-4;
        
        .bold {
            font-weight: bold;
        }
        cursor: pointer;

    }

    &-img {
        height: 54px;
        width: auto;
        border-radius: 100%;
        cursor: pointer;
    }
}