.Navbar {
    background: $white;
    height: 100%;

    
    &.showMenu {
        background-color: $white;
    }

    @include max-md {
        background: transparent;
        position: absolute;
        z-index: 1;
    }

    &-container {
        display: flex;
        flex-direction: column;
        padding: 0 24px;
        transition: opacity 1s ease-in;

        @include max-md {
            display: none;

            &.showMenu {
                display: flex;
                padding: 0 16px;
            }
        }

    }

    &-mobile {
        display: none;
        padding: 30px 16px;

        @include max-md {
            padding: 12px 24px;
            height: 40px;
            display: flex;
            gap: 8px;
            line-height: 40px;
            color: $primary-color;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 800;
        }

        img {
            width: 40px;
        }
    }

    &-img {
        width: 140px;

        img {
            width: 100%;
        }

        @include max-md {
            display: none;
        }
    }

    &-menu {
        margin: 40px 0;

        @include max-md {
            margin: 0;
        }

        &__item {
            font-weight: 500;
            font-size: 14px;
            color: $gray-4;
            border-bottom: 1px solid $gray-2;
            display: flex;
            align-items: center;
            padding: 16px 0;
            cursor: pointer;

            &.active {
                font-weight: bold;
                color: $primary-color;
            }
        }

    }

    &-footer {
        position: absolute;
        bottom: 40px;
        min-width: 204px;
    }
}