.StepperRegister {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;

    &-line {
        height: 8px;
        position: absolute;
        border: none;
        top: 8px;
        z-index: 0;

        &.background {
            width: 98%;
            background-color: $gray-2;
        }

        &.active {
            background-color: $primary-color;
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        grid-gap: 8px;
        align-items: center;

        &__number {
            font-weight: 700;
            font-size: 24px;
            line-height: 40px;
            background-color: $gray-2;
            color: $gray-4;
            width: 40px;
            height: 40px;
            text-align: center;
            border-radius: 100%;
            z-index: 1;


            @include max-md {
                font-size: 18px;
                line-height: 32px;
                width: 32px;
                height: 32px;
            }

        }

        &__label {
            font-weight: 400;
            font-size: 14px;
            color: $gray-4;
            text-align: center;
        }

        &.active {
            .StepperRegister-item__number {
                background-color: $primary-color;
                color: $white;
            }
        }
    }
}