.Preferences {
    gap: 32px;
    display: flex;
    flex-direction: column;

    @include max-md {
        gap: 24px;
    }

    &-header {
        display: flex;
        flex-direction: column;
        gap: 8px;
        
        @include max-md {
            gap: 16px;
        }
    }

    &-title {
        font-size: 24px;
        color: $gray-4;
        font-weight: 700;
        margin: 0;
        
        @include max-md {
            font-size: 24px;
        }

    }

    &-text {
        font-weight: 400;
        font-size: 14px;
        color: $gray-4;
        margin: 0;
        
        @include max-md {
            font-size: 14px;
        }
    }

    
    &-form {
        grid-template-columns: auto auto;
        width: 100%;
        display: grid;
        grid-column-gap: 72px;
        grid-row-gap: 40px;
        max-width: 840px;

        @include max-lg {
            grid-template-columns: auto;
        }

        @include max-md {
            gap: 24px;
        }

        &__radio {
            display: flex;
            gap: 40px;
        }

        &__item {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    &-buttons {
        margin-top: 40px;
        width: 100%;    
        display: flex;
        grid-gap: 64px;
        width: 384px;

        @include max-md {
            width: 100%;
        }
    }


}