.Preferences {
    gap: 32px;
    display: flex;
    flex-direction: column;

    @include max-md {
        gap: 24px;
    }

    &-header {
        display: flex;
        flex-direction: column;
        gap: 8px;
        
        @include max-md {
            gap: 16px;
        }
    }

    &-title {
        font-size: 24px;
        color: $gray-4;
        font-weight: 700;
        margin: 0;
        
        @include max-md {
            font-size: 24px;
        }

    }

    &-text {
        font-weight: 400;
        font-size: 14px;
        color: $gray-4;
        margin: 0;
        
        @include max-md {
            font-size: 14px;
        }
    }

    &-info {
        display: flex;
        flex-direction: column;
        gap: 16px;

        
        .Preferences-buttons {
            width: 50%;  
        }
    }

    .info-group {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .info-label {
        font-size: 14px;
        margin: 0;
        color: $gray-5;
    }

    .info-text {
        font-size: 12px;
        color: $gray-5;
    }
    
    &-form {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        display: grid;
        grid-column-gap: 72px;
        grid-row-gap: 40px;
        width: 80%;
        max-width: 840px;

        @include max-md {
            grid-template-columns: auto;
            gap: 24px;
            width: 100%;
            max-width: 100%;
        }

        &__radio {
            display: flex;
            gap: 40px;
        }

        &__item {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    &-buttons {
        margin-top: 40px;
        width: 100%;    
        display: flex;
        grid-gap: 24px;
        width: 80%;
        max-width: 840px;

        @include max-md {
            flex-direction: column;
            grid-gap: 24px;
            width: 100%;
            max-width: 100%;
        }
    }


}