.CardSchedule {
    width: 100%;
    .card {
        display: flex;
        flex-direction: column;
        padding: 32px;
        gap: 56px;
        background: $white;
        box-shadow: 0px 4px 28px rgba(171, 171, 171, 0.25);

        @include max-md {
            padding: 16px;
            gap: 32px;
        }
    }

    .card-img {
        width: 140px;
    }

    .card-info {
        display: flex;
        gap: 32px;
        
        @include max-md {
            flex-direction: column;
            gap: 16px;
        }
    }

    .card-buttons {
        display: flex;
        gap: 24px;

        @include max-md {
            flex-direction: column;
            gap: 16px;
        }
    }

    .card-info__text {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    
    .text-local {
        margin: 0;
        color: $gray-3;
        font-size: 16px;
    }

    .text-name {
        margin: 0;
        color: $gray-4;
        font-size: 18px;
    }

    .schedule {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }

    .schedule-group {
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-size: 14px;
        font-weight: bold;

        .text-day {
            margin: 0;
            color: $gray-3;
        }

        .text-hour {
            margin: 0;
            color: $gray-4;
        }
    }
}