.Schedules {

    &-title {
        font-size: 24px;
        color: $gray-4;
        font-weight: 700;
        margin: 0;

        @include max-md {
            font-size: 24px;
        }
    }

    &-label {
        display: flex;
        justify-content: space-between;
        align-items: center;

        
        @include max-sm {
            flex-direction: column;
            align-items: initial;
        }

        &__text {
            font-weight: 400;
            font-size: 14px;
            color: $gray-4;
        }

        &__itens {
            display: flex;
            grid-gap: 24px;
            
            @include max-sm {
                flex-direction: column;
                gap: 2px;
            }
        }

        &__item {
            font-size: 14px;
            color: $gray-4;
            display: flex;
            grid-gap: 4px;
            align-items: center;
            justify-items: center;

            @include max-sm {
                font-size: 12px;
            }

            .square {
                width: 16px;
                height: 16px;
                border-radius: 2px;
                
                @include max-sm {
                    width: 8px;
                    height: 8px;
                }
            }
            
        }
    }

    &-table {
        @include max-md {
            margin-top: 16px;
            overflow: auto;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid $gray-1;
            border-collapse: collapse;
          }

        th {
            height: 84px;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: $gray-4;
            
            @include max-md {
                font-size: 14px;
                line-height: 18px;
                min-width: 72px;
                padding: 0 4px;
            }
        }

        span {
            display: flex;
        }

        td, span {
            width: 172px;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            line-height: 22px;            
            text-align: center;
            color: $gray-4;
            height: 40px;

            @include max-md {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }

    

    .gray {
        background: $gray-2;
        border: 1px solid #E8E8E8;
    }

    .light {
        background: $primary-color;
        opacity: 24%;

    }

    .dark {
        background: $primary-color;
        color: $white;
    }
    
}