.SearchMonitor {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include max-md {
        gap: 16px;
    }

    &-header {
        display: flex;
        flex-direction: column;
        gap: 0;

        @include max-md {
            gap: 8px;
        }
    }

    &-title {
        font-size: 24px;
        color: $gray-4;
        font-weight: 700;
        margin: 0;

        @include max-md {
            font-size: 24px;
        }
    }

    &-subtitle {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__text {
            color: $gray-4;
            font-size: 14px;

            @include max-md {
                font-size: 14px;
                line-height: initial;
            }
        }

        button {
            max-width: 280px;
        }

        @include max-lg {
            flex-direction: column;
            align-items: normal;
            gap: 24px;
        }
    }

    &-cards {
        display: flex;
        gap: 40px;
        
        @include max-sm {
            flex-direction: column;
            gap: 24px;
            align-items: center;
            margin: 16px;
        }

        .card {
            background: $white;
            box-shadow: 0px 4px 28px rgba(171, 171, 171, 0.25);
            border-radius: 4px;
            padding: 24px 16px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;

            @include max-sm {
                width: 100%;
                gap: 12px;
            }

            &-img {
                width: 100%;
            }

            &-course {
                display: block;
                font-weight: 700;
                font-size: 15px;
                line-height: 20px;
                color: $gray-3;
                text-align: center;

                @include max-sm {
                    font-size: 12px;
                    line-height: initial;
                }
            }

            &-name {
                display: block;
                font-size: 24px;
                line-height: 33px;
                color: $gray-4;
                text-align: center;

                @include max-sm {
                    font-size: 18px;
                    line-height: initial;
                }

            }
        }
    }
}