
//Colors

$white: #ffffff;
$black: #000000;

$background-color: #FAFAFA;
$primary-color: #00BFA6;

$gray-1: #F6F4F4;
$gray-2: #E8E8E8;
$gray-3: #CECECE;
$gray-4: #4B4B4B;

$success-color: #108D4A;
$warning-color: #F2D53E;
$error-color: #B62525;

//Breakpoints
$min-sm: 576px;
$min-md: 768px;
$min-lg: 992px;
$min-xl: 1200px;
$min-xxl: 1920px;

$max-xs: 575px;
$max-sm: 767px;
$max-md: 991px;
$max-lg: 1199px;
$max-xl: 1919px;
$max-xxl: 2559px;
