@font-face {
    font-family: "Manrope";
    src: url("../fonts/manrope.woff");
  }
  
  html {
    font-family: "Manrope", sans-serif;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    max-width: 1366px;
    margin: auto;
    &-fluid {
      max-width: 100%;
    }
  }
  .container,
  .container-fluid {
    padding: 0 32px;
    @include max-sm {
      padding: 0 24px;
    }
  }
  
  